<p class="p2">Register</p>
<br>
<div class="alert alert-danger" *ngIf="passEqual == false && pressed == true">Passwords do not match.</div>
<div class="alert alert-danger" *ngIf="allFieldsRequired() == false && pressed == true">All fields are required.</div>
<div class="alert alert-danger" *ngIf="validateEmail(user.email) == false && pressed == true">Email is invalid.</div>
<div class="form-group">
    <label for="email">Name:</label>
    <input [(ngModel)]="user.name" class="form-control" placeholder="Enter name" id="name">
</div>
<div class="form-group">
    <label for="email">Email address:</label>
    <input [(ngModel)]="user.email" type="email" [class]="validateEmail(user.email) ? 'form-control' : 'form-control is-invalid'" placeholder="Enter email" id="email">
    <div *ngIf="!validateEmail(user.email)">
        <p style="color:red">Email is not valid</p>
    </div>
</div>
<div class="form-group">
    <label for="pwd">Password:</label>
    <input [(ngModel)]="user.password" type="password" class="form-control" placeholder="Enter password" id="pwd">
</div>
<div class="form-group">
    <label for="pwd">Confirm Password:</label>
    <input [(ngModel)]="user.confirmPassword" type="password" class="form-control" placeholder="Confirm password"
        id="cpwd">
</div>
<button (click)="register()" class="btn btn-primary col-2"><b>REGISTER</b></button>